/* Colors */
:root {
	--black: #2E3440;
	--white: #D8DEE9;
}

/* Private Browsing (this /has/ to be above common browsing for some dumb reason) */
@-moz-document url(about:privatebrowsing) {
	/* Removes the VPN ad */
	#private-browsing-vpn-text { display: none !important; }

	#private-browsing-vpn-link { display: none !important; }

	/* Gets rid of search bar in private browsing mode */
	html.private div.showPrivate div.search-inner-wrapper, html.private div.showPrivate div.info { display: none !important; }

	/* Hides the "You're in private browsing mode" dialog */
	.info { display: none !important; }

	/* Changes the color of the wordmark */
	.wordmark { fill: var(--white) !important; }

	/* Centers logo and wordmark */
	.logo-and-wordmark {
		align-items: center !important;
		display: flex !important;
		justify-content: center !important;
		margin-bottom: 49px !important;
	}

	/* Changes the home screen color */
	html.private { --in-content-page-background: var(--black) !important; }
}

/* Common Browsing */
@-moz-document url(about:newtab), url(about:home), url(about:blank) { 
	/* Makes the search bar on the home screen round with red text and a red border when not clicked */
	#newtab-search-text, #searchSubmit{ display: none !important; }

	/* Changes the gear color and removes the hover */
	.prefs-button button {fill: var(--white) !important;}

	.prefs-button button:hover, .prefs-button button:focus { background-color:  transparent !important; }	

	/* Turns of search suggestions on the home screen */
	.contentSearchSuggestionTable {display: none !important;}

	/* Changes the home screen color */
	body{ background-color: var(--black) !important }

	/* Centers logo and wordmark */
	.search-wrapper .logo-and-wordmark {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 49px;
	}

	/* Makes it so that no border appears around the search arrow */
	.search-wrapper .search-button:focus, .search-wrapper .search-button:hover {
		background-color: transparent !important;
		cursor: pointer !important;
	}

	.search-wrapper .search-button:active { background-color: transparent !important; }

	/* Changes the color of the wordmark */
	.wordmark { fill: var(--white) !important;}
}

/* Makes the search bar on the home screen round with red text and a red border when not clicked */
#newtab-search-text, #searchSubmit { display: none !important; }

/* Changes the background color inside of the search bar */
#newtab-search-text { display: none !important; }

/* Turns of search suggestions on the home screen */
.contentSearchSuggestionTable { display: none !important; }

/* Centers logo and wordmark */
.search-wrapper .logo-and-wordmark {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 49px;
}

@-moz-document url-prefix("about:config") {
	:root {
		--in-content-page-background: var(--black) !important;
		--in-content-page-color: var(--white) !important;
	}
}

@-moz-document url-prefix("about:preferences") {
	/* This changes mostly text colors but changes some background colors */
	:root {
		--in-content-border-active-shadow: none !important;
		--in-content-border-active: none !important;
		--in-content-box-background-active: var(--black) !important; /* Background color in General application thing on selection */
		--in-content-box-background-hover: var(--black) !important; /* Background color in General application thing */
		--in-content-box-background: var(--black) !important; /*This HAS to be kept. */
		--in-content-box-border-color: var(--white) !important; /*This HAS to be kept. It changes a lot of the borders */
		--in-content-box-info-background: var(--black) !important; /* Changes the "You are currently syncing these items" box background color */
		--in-content-link-color-active: var(--white) !important; /* Link color */
		--in-content-link-color-hover: var(--white) !important; /* Link color when you hover over them */
		--in-content-link-color-visited: var(--white) !important; /* Link color when you have visited a site */
		--in-content-link-color: var(--white) !important;
		--in-content-page-background: var(--black) !important; /* Changes the background color */
		--in-content-page-color: var(--white) !important; /* Changes lot's of the body text color. HAS to be kept */
		--in-content-text-color: var(--white) !important; /* This HAS to be kept as well. Too many things break otherwise. */
		--in-content-selected-text: var(--black) !important; /* Changes the color of selected text in the little pop menu. HAS to be kept */
		--in-content-item-selected: var(--white) !important; /* Changes the select color in the little pop menu. HAS to be kept */
		--in-content-item-hover: var(--black) !important; /* Changes the select color on hover in the little pop menu. HAS to be kept */
		--in-content-deemphasized-text: var(--white) !important; /* Helps to make all text red */
	}

	/* Changes part of the background color in pop menu */
	.dialogTitleBar {
		background-color: transparent !important;
		border-bottom: none !important;
	}

	window, dialog {
		-moz-appearance: none !important;
		background-color: var(--black) !important;
		color: var(--white) !important;
	}    

	/* Changes the border color of the sync box */  
	.sync-group {
		background-color: transparent !important;
		border: 1px solid var(--white) !important;
	}

	/* This block changes the border on hover around the account icon */
	.fxaProfileImage.actionable:hover { border-color: var(--white) !important; }

	.fxaProfileImage.actionable:hover:active { border-color: var(--white) !important; }

	/* This block changes the colors of the categories in the side bar */
	#categories > .category:hover {
		color: var(--black) !important;
		background-color: var(--white) !important;
		border-radius: 2px !important;
	}

	#categories > .category:hover:active {
		color: var(--black) !important;
		background-color: var(--white) !important;
		border-radius: 2px !important;
	}

	#categories > .category[selected], #categories > .category.selected {
		color: var(--black) !important;
		background-color: var(--white) !important;
		border-radius: 2px !important;
	}

	#categories > .category[selected]:hover, #categories > .category.selected:hover {
		color: var(--black) !important;
		background-color: var(--white) !important;
	}

	#categories > .category[selected]:hover:active, #categories > .category.selected:hover:active {
		color: var(--black) !important !important;
		background-color: var(--white) !important;
	}
	/* ENDBLOCK */

	/*Changes the background color, boder of some boxes, and some text color */    
	select[size][multiple], listheader, richlistbox {
		-moz-appearance: none;
		margin-inline: 0;
		background-color: transparent!important;
		border: 1px solid transparent !important;
		border-radius: 2px;
		color: var(--white) !important;
	}

	/* Search bar examples in Search Preferences */ 
	.searchBarImage {
		-moz-context-properties: fill, stroke;
		fill: transparent !important;
		stroke: var(--white) !important;
	}

	/* Changes the color of the "One-Click Search Engines" box and border*/
	tree {
		border: 1px solid var(--white) !important;
		background-color: var(--black) !important;
	}

	treecol:not([hideheader="true"]):not(:first-child),
	treecolpicker {
		border-image: linear-gradient(transparent 0%, transparent 20%, var(--white) 20%, var(--white) 80%, transparent 80%, transparent 100%) 1 1;
	}

	/* "Find in Preferences" search box */ 
	input[type="email"], input[type="tel"], input[type="text"], input[type="password"], input[type="url"], input[type="number"], textarea, search-textbox {
		-moz-appearance: none;
		border: 1px solid var(--white) !important;
		border-radius: 2px;
		color: var(--white) !important;
		background-color: transparent !important;
	}

	/* Changes the color of a line in general preferences*/
	listheader { box-shadow: inset 0 -1px var(--white) !important; }

	/* Removes the lines between categorys on a given page */
	.subcategory:not([hidden]) ~ .subcategory { border-top: 1px solid transparent !important; }

	/* Changes the color of a line in search preferences */
	treecols { border-bottom: 1px solid var(--white) !important; }

	/* This changes color of unselected text in the General application thing */
	treecol:not([hideheader="true"]), treecolpicker {
		-moz-appearance: none !important;
		background-color: var(--black) !important;
		color: var(--white) !important;
	}

	/* Changes the little x icon in the search box to a custom SVG */
	/* This was a pain to get working */
	.textbox-search-clear { list-style-image: url("svg/x_icon.svg") !important; }

	/* Changes header color */
	h1 {
		color: var(--white) !important;
		font-weight: bold !important; 
	}

	/* This block changes the colors of the check marks and radio (the circle checks) */
	checkbox[checked] > .checkbox-check { fill: var(--white) !important; }

	input[type="checkbox"]:checked { fill: var(--white) !important; }

	.radio-check[selected] {;
		-moz-context-properties: fill;
		fill: var(--white) !important;
	}
	/* ENDBLOCK */

	/* Changes the background color of the check boxes and radio circles when not touched */  
	.checkbox-check, input[type="checkbox"] {
		-moz-appearance: none !important;
		border: 1px solid var(--white) !important;
		background-color: transparent !important;
	}

	.radio-check {
		border: 1px solid var(--white) !important;
		background-color: transparent !important;
	}

	/* Changes the color of the checkboxes and radio on hover */
	checkbox:not([disabled="true"]):hover > .checkbox-check, input[type="checkbox"]:not(:disabled):hover { border-color: var(--white) !important; }

	radio:not([disabled="true"]):hover > .radio-check { border-color: var(--white) !important; }

	/* Changes the radio focus color */
	checkbox:-moz-focusring > .checkbox-check, input[type="checkbox"]:-moz-focusring + label:before, radio[focused="true"] > .radio-check, tab:-moz-focusring > .tab-middle > .tab-text { outline: 2px solid var(--white) !important; }

	/* This changes background color of one of the "Settings..." buttons when not hovered */
	button, select, input[type="color"], menulist {
		color: var(--black) !important;
		background-color: var(--white) !important;
	}

	/* Not entirely sure what this does compared to the one above */
	button:enabled:hover:active, select:not([size]):not([multiple]):enabled:hover:active, input[type="color"]:enabled:hover:active, button:not([disabled="true"]):hover:active, button[open], button[open]:hover, menulist[open="true"]:not([disabled="true"]) { background-color: var(--white) !important;  }

	/* "Find in Preferences" hover border color */
	/* If these break, make input html|input */
	input[type="email"]:enabled:not(:focus):hover, input[type="tel"]:enabled:not(:focus):hover, input[type="text"]:enabled:not(:focus):hover, input[type="password"]:enabled:not(:focus):hover, input[type="url"]:enabled:not(:focus):hover, input[type="number"]:enabled:not(:focus):hover, textarea:enabled:not(:focus):hover, search-textbox:not([disabled="true"]):not([focused]):hover { border-color: var(--white); }

	/* This block changes the highlighted color of the boxes in the Privacy category */
	.content-blocking-category {
		border: 1px solid var(--white) !important;
		background-color: transparent !important;
	}

	/* Removes the background for the selected blocking category */
	.content-blocking-category.selected {
		border: 1px solid var(--white) !important;
		background-color: transparent !important;
	}

	.content-blocking-warning { background-color: transparent !important; }

	/* Changes the non-hover color of the reload tabs button */
	.reload-tabs-button { background-color: var(--white) !important; }

	/* Changes the non-hover color of the reload tabs button when selected */
	.reload-tabs-button:not([disabled="true"]):hover { background-color: var(--white) !important; }

	/* Changes the non-hover color of the reload tabs button when selected and clicked? */
	.reload-tabs-button:not([disabled="true"]):hover:active { background-color: var(--white) !important; }
}
