/* Right click menu customizations */
@import "popup/popup.css";

/* Colors */
:root {
	--white:	#f0f0f0;
	--black:	#0f0f0f;
	--grey:		#262626;
	--blue:		#8f8aac;
	--yellow:	#aca98a;
	--red:		#ac8a8c;
	--magenta:	#ac8aac;
}

/* Removes the tiny line in the bookmarks bar */
toolbarseparator {
	appearance: auto;
	-moz-default-appearance: separator;
	margin: 3px 4px;
	display: none !important;
}

/* Changes the color of "You have not granted this site any special permissions." text */
#identity-popup-permissions-content > description, #protections-popup-content > description { color: var(--white) !important; }

/* Changes the color of the border of the zoom button in the URL bar */
#urlbar-zoom-button { border: 2px solid var(--red) !important; }

/* This stops the URL bar from shifting up and to the right */
#urlbar[breakout], #urlbar[breakout][breakout-extend] {
	--urlbar-height: 40px !important;
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;
}

/* This stops the URL bar from enlarging */
#urlbar[breakout][breakout-extend] > #urlbar-input-container, #urlbar-input-container {
	height: var(--urlbar-height) !important;
	width: 100% !important;
	padding-block: unset !important;
	padding-inline: unset !important;
	transition: none !important;
}

/* Removes the "Added to library" dialogue */
#confirmation-hint { display: none !important; }

/* Changes the color of links in the URL bar */
.urlbarView-url {
	overflow: hidden;
	color: var(--white) !important;
}

/* Changes the "Search with <Engine>" text color */
.urlbarView-title:not(:empty) ~ .urlbarView-action { color: var(--white) !important; }

.urlbarView-row:not([type=tip]):not([type=dynamic]) > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-title[overflow], .urlbarView-url[overflow] { mask-image: none !important; }

/* Inverts the red and grey when you select text in the URL bar */ 
::selection {
	background: var(--white) !important;
	color: var(--black) !important;
}

/* Changes the color of the space to the right of open tabs */
#tabbrowser-tabs { background: none !important; }

/* Changes the color of the star button on websites you can bookmark */
#star-button { fill: var(--blue) !important; }

/* Changes the color of the animation when you bookmark a page */
#star-button[starred][animate] + #star-button-animatable-box > #star-button-animatable-image {
	stroke: var(--blue) !important;
	fill: var(--blue) !important;
	color: var(--blue) !important;
}

/* This removes the flash of blue on tab load */
.tabbrowser-tab .tab-loading-burst { display: none !important; }

/* These two make it so that the throbber (the thing that goes back and forth during page loading) is the correct color*/
/* The first one also changes the text's color for some reason */
.tab-content[selected="true"] {

	background: var(--black) !important;
	font-weight: bold !important;
	color: var(--blue) !important;
}

#tabbrowser-tabs { --tab-loading-fill: var(--white) !important; }

/* Gets rid of the space on the top of the window that's not taken up by tabs */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
	display: none !important;
	width: 0px !important;
	max-width: 0px !important;
}

/* Changes the text color when you type something into the URL bar */
#urlbar {
	box-shadow: none !important;
	background: var(--black) !important;
	border: 2px solid !important;
	border-color: var(--magenta) !important;
	border-radius: 15px !important;
	color : var(--red) !important;
	font-weight: bold !important;
	margin: 10px 0px !important;
}

/* Removes the faint line above the URL bar */
#nav-bar {
	box-shadow: none !important;
	border-top: none !important;
}

/* Changes the color of the bookmarks toolbar */
#PersonalToolbar {
	background: var(--black) !important;
	color: var(--white) !important;
}

/* Changes the color of the bookmark stars */
.urlbarView-row[type=bookmark] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-type-icon { fill: var(--white) !important; }

/* This makes it so that on start-up the screen doesn't flash */
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html{ background: var(--black) !important; }

/* Removes weird line between the stacks and profile */
#PanelUI-button {
	border: none !important;
	margin-inline-start: 0px !important;
	padding-inline-start: 0px !important;
}

/* This mess makes it so that there's no hover over the toolbar icons */
.urlbar-icon, .urlbar-icon-wrapper, #tabbrowser-tabs toolbarbutton, toolbar toolbarbutton > .toolbarbutton-icon, toolbar toolbarbutton > .toolbarbutton-badge-stack, .titlebar-button, #identity-box, #tracking-protection-icon-container, .findbar-textbox~toolbarbutton, toolbarbutton.scrollbutton-up, toolbarbutton.scrollbutton-down { background: transparent !important; }

/* Removes the border below the bookmarks toolbar */
#navigator-toolbox { border: none !important; }

/* Changes the colors in the URL bar */
#urlbar-background {
	background: var(--black) !important;
	border-radius: 15px !important;
	/* border-color: var(--red) !important; */
}

#urlbar-input-container { color: var(--red) !important; }

#urlbar { background: var(--black) !important; }

/* Removes the line between tabs */
.tabbrowser-tab::before, .tabbrowser-tab::after { display: none !important; }

/* Changes the text color of unfocused tabs */
.tabbrowser-tab { color: var(--magenta) !important; }

/* Changes the colors of the area behind the tabs */
#tabbrowser-tabs { background: var(--grey) !important; }

/* Changes toolbar button colors */
.toolbarbutton-1 {
	fill: var(--white) !important;
	background: var(--black) !important;
}

/* This block changes the animation and colors of the download button */
#downloads-button[attention="success"]>.toolbarbutton-badge-stack>#downloads-indicator-anchor>#downloads-indicator-icon, #downloads-button[attention="success"]>.toolbarbutton-badge-stack>#downloads-indicator-anchor>#downloads-indicator-progress-outer { fill: var(--white) !important; }

#downloads-button[notification="start"]>.toolbarbutton-badge-stack>#downloads-indicator-anchor>#downloads-indicator-icon, #downloads-notification-anchor[notification="start"]>#downloads-indicator-notification { fill: var(--white) !important; }

#downloads-button[progress]>.toolbarbutton-badge-stack>#downloads-indicator-anchor>#downloads-indicator-icon, #downloads-button[progress]>#downloads-indicator-anchor>#downloads-indicator-progress-outer { fill: var(--white) !important; }

#downloads-button>.toolbarbutton-badge-stack>#downloads-indicator-anchor>#downloads-indicator-progress-outer>#downloads-indicator-progress-inner {
	fill: red !important;
	border: 1px !important;
	border-color: var(--white) !important;
}
/* ENDBLOCK */

/*This block changes colors inside of the downloads menu*/
/* This removes the line above "Show All Downloads" */ 
.panel-footer > xul|button {
	border-top: 1px solid none !important;
	color: var(--white) !important;
}

/*Changes the color of the area around "Show All Downloads" and changes the "Show All Downloads" text color*/
.panel-footer {
	background: var(--black) !important;
	font-weight: bold !important;
	color: var(--white) !important;
}

:root {
	--arrowpanel-background: var(--black) !important;
	--arrowpanel-color: var(--white) !important;
	--arrowpanel-dimmed: none !important;
}
/* ENDBLOCK */

/* This block makes the tabs seamless with the rest of the config's color */
tab {
	height: 3rem;
	background: var(--grey) !important;
	font-weight: thin !important;
}

#nav-bar-customization-target { background: var(--white) !important; }
/* ENDBLOCK */

/* Changes the color of the empty area around the nav bar */
#nav-bar-customization-target { background: var(--black) !important; }

/* This block changes the colors in the hamburger and other menus */
.PanelUI-subView, .panel-subview-body {
	--newtab-search-icon-color: var(--white);
	--arrowpanel-background: none !important;
	--arrowpanel-color: var(--white) !important;
	--lwt-white: var(--white) !important;
	--lwt-text-color: var(--white) !important;
	color: var(--white) !important;
	background: var(--black) !important;
	border: 1px solid var(--magenta) !important;
	border-radius: 10px !important;
}

.PanelUI-remotetabs-clientcontainer > label[itemtype="client"] { color: var(--white) !important; }

/* Account Settings Color */
#fxa-menu-header-description { color: var(--white) !important; }

#fxa-menu-header-title {
	color: var(--white) !important;
	font-weight: bold !important;
}

.PanelUI-remotetabs-clientcontainer > label[itemtype="client"] { font-weight: bold !important; }

/* Firefox Services Color */
.subview-subheader {
	color: var(--white) !important;
	font-weight: bold !important;
}

/* Sync animation color */
#PanelUI-fxa-menu-syncnow-button[syncstatus="active"] > .toolbarbutton-icon, #PanelUI-remotetabs-syncnow[syncstatus="active"] > .toolbarbutton-icon { fill: var(--white) !important; }

/* Send tab to device color */
.subviewbutton[disabled="true"] { color: var(--white) !important; }
/* ENDBLOCK */

/* Changes the zoom reset color */
#appMenu-zoomReset-button {
	min-height: unset;
	border: none !important;
	border-radius: 10000px;
	padding: 1px 8px;
	background: var(--black) !important;
}

/* Changes the text color in the bookmarks bar */
#personal-bookmarks .bookmark-item > .toolbarbutton-text {
	text-color: var(--white) !important;
	color: var(--white) !important; 
	background: var(--black) !important
}

/* Hides the private browsing indicator */
.private-browsing-indicator { display: none; }
