configuration {
	width: 50;
	lines: 20;
	font: "Fura Mono Nerd Font 16";
	hide-scrollbar: true;
	theme: "uya";
	terminal: "alacritty";
	display-run: "";
	display-calc: "";
	display-drun: "";
	display-window: "";
	display-windowcd: "";
	display-ssh: "";
	kb-cancel: "Escape,Control+c";
	kb-row-up: "Up,Control+k";
	kb-row-down: "Down,Control+j";
	kb-accept-entry: "Control+m,Return,KP_Enter";
	kb-remove-to-eol: "Control+i";
}
